.photograph-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin: 0 100px;
}

.photographer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 300px; */
}

.photograph-header .photographer-info p {
    text-align: start;
    font-weight: 400;
}

.photographer-info h1 { 
    color: #D3573C;
    font-size: 64px;
    margin-right: auto;
}

.photograph-header .photographer-location {
    font-size: 24px;
    margin-bottom: 10px;
}

.photograph-header .photographer-tagline {
    color: #525252;
    font-size: 18px;
    margin-bottom: 10px;
}

.photograph-header .likes-and-price {
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0 ;
    margin-right: 100px;
    background-color: #DB8876;
}
.photograph-header .likes-and-price p {
    margin: 10px;
    font-size: large;
    color: black;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit:cover;
}


/* --------------------------- */




.photographer-works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 100px;
}

.media-piece {
    height: 300px;
    width: 350px;
}


.photographer-works img, video {
    
    height: 300px;
    width: 350px;
    object-fit:cover;
    border-radius: 5px;
}

.media-item {
    margin: 10px 0px;
    width: 350px;
    height: 351px;
}

.media-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.media-info p {
    color: #901C1C ;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
   }



  /* Appliquer le curseur pointer (doigt) sur les images et les vidéos */
.media-item img,
.media-item video {
  cursor: pointer; /* Change le curseur en forme de doigt */
}
  